<!DOCTYPE html>
<!-- [16.10.2016] bassagap: added new template to englobe the configuration options of the exercices de patient has to perform
                  bassagap: added options for the items on the list, now it is possible to chose if an exercice shall be performed daily, weekly or monthly-->
<ion-view>
    <!-- Header -->
    <div class="bar bar-header bar-dark">
        <h1 class="title">User Account</h1>
    </div>
    <ion-content class="has-header has-tabs" has-bouncing="true" style="background: url(images/9UBAUgEMR0GmBsoXzY6V_Capture4.PNG) no-repeat center; background-size: cover;">
        <ion-list>
            <ion-list can-swipe="true">
                <ion-list-header class="bar-header">
                    <h5>CONFIGURE THE EXERCICES</h5>
                </ion-list-header>


                <!--<div class="list">-->

                    <!--<label class="item item-input item-select">
                        <div class="input-label">
                            Exercice 1
                        </div>
                        <select>
                            <option>None</option>
                            <option selected>Daily</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                        </select>
                    </label>-->  
                                                                                    
                <!--</div>-->  
                Hello
                <ion-item ng-repeat="item in exercices">
                    {{item.name}}
                    Hello
                    <ion-option-button class="button-assertive" ng-click="deleteExercice(item.id)">
                        Delete
                    </ion-option-button>
                </ion-item>
                             
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>


<!--<ion-list can-swipe="true">
    <ion-item ng-repeat="item in todos">
        {{item.name}}
        <ion-option-button class="button-assertive" ng-click="deleteTodo(item.id)">
            Delete
        </ion-option-button>
    </ion-item>
    </ion-list>-->
