<!DOCTYPE html>
 <!-- [16.10.2016] bassagap:  Added new template for sensors connectors. -->
 <!-- [31.10.2016] bassagap:  Erase comments -->


    <ion-view view-title="Sensors" class="bar bar-header bar-dark">
        <ion-content>
            <h1 class="title">Sensors connection</h1>
                 <a href="#/home"><button class="button button-icon icon ion-android-arrow-back"></button></a>
        </ion-content>

       

    </ion-view>
    <ion-view>
        <ion-content class = "has-header" style="background: url(images/IMG_20161130_005640.jpg ) no-repeat center; background-size: contain; white-space: initial">
            <div>
                <div class="item item-text-wrap">
                    1. Make sure the sensor is active <br />
                    2. Connect the mobile to bluetooth <br />
                    3. Place the sensor band as shown in the picture <br />
                    4. Press "CONNECT"
                </div>
            </div>
        </ion-content>

        <ion-button class="button button-stable button-full button-large icon ion-shuffle parent_div" ng-click="showAlert()">
            <h4>CONNECT</h4>
        </ion-button>
    </ion-view>
