<!DOCTYPE html>
 <!-- [16.10.2016] bassagap:  Added new template for sensors connectors. -->
 <!-- [31.10.2016] bassagap:  Erase comments -->


    <ion-view view-title="Sensors" class="bar bar-header bar-dark">
        <ion-content>
            <h1 class="title">Sensors connection</h1>
                 <a href="#/home"><button class="button button-icon icon ion-android-arrow-back"></button></a>
        </ion-content>

       

    </ion-view>
    <ion-view>
        <ion-content style="background: url(images/connection-wallpaper-3840x2400.jpg ) no-repeat center; background-size: cover; white-space: initial">
        </ion-content>
        <ion-button class="button button-stable button-full button-large icon ion-shuffle parent_div" ng-click="showAlert()">
            <h4>CONNECT</h4>
        </ion-button>
    </ion-view>
