<!DOCTYPE html>

    <ion-view view-title="Sensors" class="bar bar-header bar-dark">
        <ion-content>
            <h1 class="title">Sensors connection</h1>
        </ion-content>

        <!-- [16.10.2016] bassagap:  Added new template for sensors connectors. -->
        <!-- Header -->
        <!--<ion-nav-bar>
            <button ng-click="setNavTitle('banana')">
                Set title to banana!
            </button>
        </ion-nav-bar>-->
        <!--<div class="bar bar-header bar-dark">
            <h1 class="title">Sensors connection</h1>
        </div>-->
    </ion-view>
    <ion-view>
        <ion-content style="background: url(images/connection-wallpaper-3840x2400.jpg ) no-repeat center; background-size: cover; white-space: initial">
        </ion-content>
        <ion-button class="button button-stable button-full button-large icon ion-shuffle parent_div">
            <h4>CONNECT</h4>
        </ion-button>
    </ion-view>
