<!DOCTYPE html>

<!--02.11.2016: New template for progress. -->
<ion-view>
    <!-- Header -->
    <div class="bar bar-header bar-dark">
        <h1 class="title">Dashboard</h1>
        <a href="#/home"><button class="button button-icon icon ion-android-arrow-back"></button></a>
    </div>


    <!-- Content -->
    <body>
        <ion-content class="has-header has-tabs" has-bouncing="true" style="background: url(images/Dashboard.PNG) no-repeat center; background-size: cover;">

        </ion-content>

    </body>
    <ion-tabs class="tabs-light tabs-icon-bottom">

        <ion-tab title="Dashboard" icon-on="ion-home" icon-off="ion-home" href="#/dashboard">
            <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="Calendar" icon-on="ion-android-calendar" icon-off="ion-android-calendar" href="#/calendar">
            <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab title="Progress" icon-on="ion-ios-body" icon-off="ion-ios-body">
            <!-- Tab 3 content -->
        </ion-tab>

    </ion-tabs>
</ion-view>